.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.header-bg{
    background-color: rgba(0,0,0,0.85);
    transition: 0.5s;
}
.nav-menu{
    display: flex;
}

.nav-menu li{
    padding: 0 16px;
}
.nav-menu li a{
    font-size: 15px;
    font-weight: 500;
    outline: none;
    font-family: 'Ode To Idle Gaming';
    letter-spacing: 0.04cm;
}

.nav-menu li a:hover{
    color: rgb(50, 212, 218);
}

.nav-menu li a:active{
    color: rgb(29, 144, 148);
    transition: 0.05s;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 16px 0;
    }   
    .nav-menu li a{
        font-size: 28px;
    }  
    .hamburger{
        display: initial;
    }
}

/*PORTFOLIO kraj ikone
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    font-size: 20px;
}*/